PORT=4000
JWT_SECRET=some-strong-secret
MONGODB_URI=mongodb+srv://myblogger8263_db_user:eTYXc8fp0yT8rac3@cluster0.ieskjve.mongodb.net/task_manager?retryWrites=true&w=majority
CLIENT_ORIGIN=http://localhost:5173

